/* header */
header {
  width: 100%;
  font-size: 18px;
  margin: 15px 0;
  display: flex;
}

header ul {
  justify-content: space-between;
}

header li {
  display: inline-block;
  text-align: center;
}

.header-logo {
  width: 10%;
}

.header-logo img {
  width: 30px;
  height: auto;
}

.header-logo p {
  font-size: 9px;
}

.header-navi {
  width: 90%;
}

.section-title::after {
  content: attr(data-subtitle);
  display: block;
  font-size: 12px;
}

/* main */
/* footer */

/* 共通部分 */
body {
  font-family: "リュウミン M-KO","Ryumin Medium KO","リュウミン M-KL","Ryumin Medium KL",游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
  color: #53585a;
}
* p {
  font-size: 12px;
}

* a {
  text-decoration: none;
  color: inherit;
}

/* PC版 */
/* SP版 */